[Desktop Entry]
Version=1.0
Name=Wine Windows Program Loader
Comment=Open Windows executables with Wine
Exec=env WINEPREFIX=%h/.wine wine start /unix "%f"
Type=Application
Terminal=false
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;application/exe;application/x-executable;
Icon=wine
NoDisplay=false
Categories=Utility;System;
StartupNotify=true
