[Desktop Entry]
Version=1.0
Name=Wine Windows Program Loader
Comment=Open Windows executables with Wine
Exec=bash -c 'WINEPREFIX="$HOME/.wine" WINEDEBUG=-all wine start /unix "%f"'
Type=Application
Terminal=false
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;application/exe;application/x-executable;application/x-dosexec;
Icon=wine
NoDisplay=false
Categories=Utility;System;
StartupNotify=true
