set default=0
set timeout=5

if loadfont /boot/grub/font.pf2; then
  set gfxmode=auto
  insmod gfxterm
  insmod all_video
  terminal_output gfxterm
fi

insmod part_gpt
insmod fat
insmod iso9660
insmod loopback
insmod linux

menuentry "Uruchom WinUX" {
  linux /live/vmlinuz boot=live components quiet splash noeject username=winux hostname=winux locales=pl_PL.UTF-8 keyboard-layouts=pl
  initrd /live/initrd.img
}

menuentry "Uruchom WinUX (bezpieczna grafika)" {
  linux /live/vmlinuz boot=live components quiet splash nomodeset noeject username=winux hostname=winux locales=pl_PL.UTF-8 keyboard-layouts=pl
  initrd /live/initrd.img
}

menuentry "Uruchom WinUX (zaladuj do RAM)" {
  linux /live/vmlinuz boot=live components quiet splash toram noeject username=winux hostname=winux locales=pl_PL.UTF-8 keyboard-layouts=pl
  initrd /live/initrd.img
}
